services:
  backend:
    build: .
    container_name: backend-container
    ports:
      - "4000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    # --- HOT RELOAD MAGIC STARTS HERE ---
    volumes:
      - .:/app/                # Syncs your code
      - /app/node_modules/     # IMPORTANT: Prevents local node_modules from overriding container ones
    command: npx nodemon server.js  # Runs nodemon without needing it installed globally


  mongo:
    image: mongo:6
    container_name: mongo-container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: