version: "3.8"

services:
  backend:
    build: .
    container_name: backend-container
    ports:
      - "4000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    #volumes:
    #  - .:/app

  mongo:
    image: mongo:6
    container_name: mongo-container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
